.banner {
    background-image: url("../../img/castramovel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__titulo,
.conta__titulo {
    font-weight: 600;
    color: var(--branco);
    font-size: 32px;
    line-height: 39px;
}

.banner__titulo {
    background: var(--vermelho-ong);
    position: relative;
    top: 25vh;
    width: 32%;
    margin: 0 3em;
    border-radius: 40% 10% 40%;
}

.servicos__titulo,
.beneficios__titulo {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin: 1em 0;
}

.lista-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em 0;
}

.item-servicos__titulo {
    background-color: var(--preto);
    color: var(--branco);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: .5em 0;
    border-radius: 0px 0px 20px 20px;
}

.item-servicos__imagem {
    display: block;
}

.conta {
    background-image: url("../../img/banner-gato.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.conta__container {
    width: 80%;
    margin-left: 4em;
}

.conta__botao {
    display: block;
    margin-top: .5em;
    width: 50%;
    text-align: center;
    background: var(--preto);
    border-radius: 20px;
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 0.5em;
}

.beneficios-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4em;
    text-align: center;
}

.beneficios-lista__item {
    width: 20%;
}

.beneficios__icone {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
